* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
    --backgroundColor: rgb(254, 254, 254);
    --backgroundColorAlt: rgb(222, 200, 0);
    --backgroundColorAltLight: rgb(249, 244, 202);
    --backgroundColorAltTransparent: rgba(222, 200, 0, 0.9);
    --mainTitleColor: rgb(222, 200, 0);
    --mainTitleColorAlt: rgb(254, 254, 254);
    --mainColor: rgb(222, 200, 0);
    --textColor: rgb(1, 1, 1);
    --textColorAlt: rgb(254, 254, 254);
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Helvetica;
}

.indexBody {
    background-image: url("/img/home-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Debut Menu-Burger */

nav>.navIcon {
    position: absolute;
    right: 1vh;
}

.hamburger {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--backgroundColorAlt);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    background-color: var(--backgroundColor);
}

.hamburger.is-active .bar {
    background-color: var(--backgroundColor);
}

.hamburger.is-active:after {
    background-color: var(--backgroundColor);
}

nav>.mobileNav {
    margin-top: 18vh;
    margin-left: 15vw;
    position: fixed;
    left: 100%;
    display: flex;
    flex-direction: column;
}

.mobileNav li {
    color: var(--mainTitleColorAlt);
    list-style-type: none;
    margin-bottom: 1.5rem;
}

.mobileNav li a {
    color: var(--mainTitleColorAlt);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
}

.mobileNav li h4 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: normal;
}

nav.is-active {
    background-color: var(--backgroundColorAltTransparent);
    height: 100vh;
}

nav>.mobileNav.is-active {
    left: 0;
    transition: 0.4s;
}

.pageContainer.is-inactive {
    display: none;
}

.down-arrow.is-inactive {
    display: none;
}

/* Fin Menu-Burger */

/* Début index.html */
/* Début section 1 */

.welcomePage {
    color: var(--mainTitleColor);
    line-height: normal;
    height: 100vh;
}

.homePage {
    padding: 30vh 15vw 0 15vw;
}

.homePage>h1 {
    font-size: 2.5rem;
}

.homePage>h2 {
    font-size: 2.5rem;
}

.homePage>h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.down-arrow {
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    width: 35px;
}

.down-arrow.is-inactive {
    display: none;
}

/* Début Countdown */

section .countdown {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.5rem;
}

section .countdown div:not(:first-of-type) {
    margin-left: 0.5vw;
}

/* Fin Countdown */
/* Fin Section 1 */

/* Début Scroll effect */

.pageContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.welcomePage,
.descriptionPage {
    scroll-snap-align: center;
}

/* Fin Scroll effect */

/* Début Section 2 */

.descriptionPage {
    color: var(--mainTitleColor);
    line-height: normal;
    height: 100vh;
}

.scrollHomePage {
    padding: 13vh 15vw 0 15vw;
}

.scrollHomeTitle>h1 {
    font-size: 2.5rem;
}

.scrollHomeTitle>h2 {
    font-size: 2.5rem;
    line-height: normal;
}

.scrollHomeContent {
    margin-top: 1.5vh;
}

.artistSummary {
    font-weight: bold;
    line-height: 1.5;
}

.eventSummary {
    font-weight: bold;
    line-height: 1.5;
    margin-top: 25vh;
}

/* Fin Section 2 */

/* Début Arrow cliquable */

/* .welcomePage.is-inactive {
    display: none;
}

.descriptionPage.is-active {
    display: initial;
} */

/* Fin Arrow cliquable */
/* Fin index.html */