* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: rgb(254, 254, 254);
    --backgroundColorAlt: rgb(222, 200, 0);
    --backgroundColorAltLight: rgb(249, 244, 202);
    --backgroundColorAltTransparent: rgba(222, 200, 0, 0.9);
    --mainTitleColor: rgb(222, 200, 0);
    --mainTitleColorAlt: rgb(254, 254, 254);
    --mainColor: rgb(222, 200, 0);
    --textColor: rgb(1, 1, 1);
    --textColorAlt: rgb(254, 254, 254);
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Helvetica;
}

.indexBody {
    background-image: url("/Assets/home-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Debut Menu-Burger */

nav>.navIcon {
    position: fixed;
    right: 1vh;
}

.hamburger {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--backgroundColorAlt);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    background-color: var(--backgroundColor);
}

.hamburger.is-active .bar {
    background-color: var(--backgroundColor);
}

.hamburger.is-active:after {
    background-color: var(--backgroundColor);
}

nav>.mobileNav {
    margin-top: 18vh;
    margin-left: 15vw;
    position: fixed;
    left: 100%;
    display: flex;
    flex-direction: column;
}

.mobileNav li {
    color: var(--mainTitleColorAlt);
    list-style-type: none;
    margin-bottom: 1.5rem;
}

.mobileNav li a {
    color: var(--mainTitleColorAlt);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
}

.mobileNav li h4 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: normal;
}

nav.is-active {
    background-color: var(--backgroundColorAltTransparent);
    height: 100vh;
}

nav>.mobileNav.is-active {
    left: 0;
    transition: 0.4s;
}

.pageContainer.is-inactive {
    display: none;
}

.footer.is-inactive {
    display: none;
}

/* Fin Menu-Burger */

/* Début index.html */
/* Début section 1 */

.welcomePage {
    color: var(--mainTitleColor);
    line-height: normal;
    height: 100vh;
}

.homePage {
    padding: 30vh 15vw 0 15vw;
}

.homePage>h1 {
    font-size: 2.5rem;
}

.homePage>h2 {
    font-size: 2.5rem;
}

.homePage>h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.down-arrow {
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    width: 35px;
}

.down-arrow.is-inactive {
    display: none;
}

/* Début Countdown */

section .countdown {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.5rem;
}

section .countdown div:not(:first-of-type) {
    margin-left: 0.5vw;
}

/* Fin Countdown */
/* Fin Section 1 */

/* Début Section 2 */

.descriptionPage {
    color: var(--mainTitleColor);
    line-height: normal;
    height: 100vh;
}

.scrollHomePage {
    padding: 13vh 15vw 0 15vw;
}

.scrollHomeTitle>h1 {
    font-size: 2.5rem;
}

.scrollHomeTitle>h2 {
    font-size: 2.5rem;
    line-height: normal;
}

.scrollHomeContent {
    margin-top: 1.5vh;
}

.artistSummary {
    font-weight: bold;
    line-height: 1.5;
}

.eventSummary {
    font-weight: normal;
    line-height: 1.5;
    margin-top: 26vh;
}

/* Fin Section 2 */
/* Fin index.html */

@media screen and (min-width: 1024px) {
    .homePage>h1 {
        font-size: 3rem;
    }

    section .countdown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        font-size: 4rem;
    }

    .homePage>h3 {
        font-size: 1.5rem;
        font-weight: normal;
        text-align: end;
    }

    .artistSummary {
        line-height: 1.2;
        font-size: 2rem;
        margin-top: 4vh;
    }

    .eventSummary {
        font-weight: normal;
        line-height: normal;
        font-size: 1rem;
        margin-top: 44vh;
    }
}


/* Début programmation.html */

#day1 {
    height: 100vh;
}

#day2 {
    height: 100vh;
}

.dayTitle {
    padding: 3vh 5vw 1vh 5vw;
}

/* Début Slider */

.slider-wrapper {
    width: 100%;
    margin: 0rem;
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-snap-align: start;
}

.slides-container {
    height: 70vh;
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.infoButton {
    color: var(--textColor);
    background-color: var(--backgroundColorAlt);
    padding: 0.2rem;
    border-radius: 3em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#slide1 {
    background-image: url("/Assets/Pictures/rockband1.jpeg");
}

#slide2 {
    background-image: url("/Assets/Pictures/rockband2.webp");
}

#slide3 {
    background-image: url("/Assets/Pictures/rockband3.jpg");
}

#slide4 {
    background-image: url("/Assets/Pictures/rockband4.1.jpg");
}

#slide5 {
    background-image: url("/Assets/Pictures/machines.jpg");
}

#slide6 {
    background-image: url("/Assets/Pictures/techno4.jpg");
}

#slide7 {
    background-image: url("/Assets/Pictures/djscript.jpg");
}

#slide8 {
    background-image: url("/Assets/Pictures/techno3.jpg");
}

.slideInfo{
    display: none;
    font-weight: bold;
    color: var(--mainTitleColor);
}
.slideInfo.is-active{
    display:flex;
    backdrop-filter: blur(3px);
}

.slide.is-inactive{
    filter: brightness(90%);
}

.slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--mainTitleColor);
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slide2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--mainTitleColor);
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;

}

.slideText {
    padding: 3vh 5vw 1vh 5vw;
}

.slideText>p {
    line-height: 1.5;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

#slide-arrow-prev2 {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next2 {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

/* Fin programmation.html */

/* Début billeterie.html */

header h2 {
    margin-top: 1.5em;
}

header h2 #formules {
    margin-top: 2rem;
}

#formules h3 {
    margin-bottom: 2em;
}

#formules img {
    width: 2em;
}

/* Début des flips cards  */

#cards-grid {
    display: grid;
    text-align: center;
    grid-auto-rows: 60vh;
    gap: 1em;
}

.card:last-of-type {
    grid-column: 1/3;
}

.card {
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    position: relative;
}

.card-side {
    position: absolute;
    text-align: center;
    background-color: var(--backgroundColorAltLight);
    border-radius: 3em;
    padding: 2em;
    width: 100%;
    height: 100%;
    /*min-height: 250px;*/
}

.card-front {
    backface-visibility: hidden;
}

.card-back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: var(--backgroundColorAlt);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container>p {
    padding: 0.5em;
}

.container>img {
    margin-top: 0.5em;
}

.container-back {
    padding-top: 1em;
}

.container-back p {
    padding: 0.5em;
    margin-bottom: 0;
}

.flipCard {
    transform: rotateY(180deg);
}

/* Fin des flip cards  */

.down-arrow-formules,
.icon-burger {
    width: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Début de la mise en page générale des formulaires  */

.form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.button {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #FFFFFF;
    background-color: var(--backgroundColorAlt);
    border-radius: 3em;
    width: 49%;
    text-align: left;
    padding: 0.3em;
    padding-left: 0.5em;
    font-weight: bold;
}

/* Fin de la mise en page générale des formulaires */

/* Début du formulaire pour le choix du Pass */

#option-form div>select,
#option-form input {
    width: 100%;
    background-color: var(--backgroundColorAltLight);
    border-radius: 3em;
    padding: 0.2em;
    padding-left: 0.5em;
}

#option-form div:first-of-type {
    grid-column: 1/3;
}

#option-form div:last-of-type {
    grid-column: 1/3;
}

#option-form h3 {
    margin-bottom: 1.5em;
}

/* Début de la page "ticket" */

#ticket {
margin-top: 18vh;
height: 100vh;
width: 100vw;
position: fixed;
bottom: 100%;
display: flex;
flex-direction: column;
background-color: var(--backgroundColor);
}

#ticket.is-active {
    bottom: 0;
    transition: 0.4s;
}

#ticket h2 {
    text-align: center;
    padding-top: 1em;
}

#icon-left-arrow {
    width: 3em;
    margin-top: 1em;
}

#div-left-arrow {
    text-align: center;
}

/* Fin du formulaire pour le choix du Pass */

/* Début du formulaire de contact  */

.form h3 {
    margin-bottom: 1.5em;
}

#contact-form input {
    width: 100%;
    background-color: var(--backgroundColorAltLight);
    border-radius: 3em;
    padding: 0.2em;
    padding-left: 0.5em;
}

#contact-form div:nth-of-type(3),
#contact-form div:last-of-type {
    grid-column: 1/3;
}

textarea {
    width: 100%;
    background-color: var(--backgroundColorAltLight);
    border-radius: 2em;
    padding: 0.2em;
    padding-left: 1em;
    height: 10em;
}

/* Fin du formulaire de contact */

/* Début du quizz */

#quizz h3,
#quizz p {
    margin-bottom: 1em;
}

#quizz div:first-of-type {
    height: 7em;
}

#quizz div:first-of-type>article {
    padding: 1em;
}

#quizz div:last-of-type {
    display: flex;
    flex-direction: row-reverse;
}

#quizz button {
    text-align: center;
    margin-top: 2.5em;
}

#quizz p {
    text-align: center;
    font-weight: bold;
    background-color: var(--backgroundColorAltLight);
    border-radius: 3em;
    margin-top: 0;
}

#quizz div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#quizz article {
    background-color: var(--backgroundColorAltLight);
    border-radius: 3em;
    text-align: center;
}

/* Fin du quizz */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Début du footer */

.footer>img {
    width: 1.8em;
    padding: 0.2em;
    padding-bottom: 1.5em;
}

.footer>img:last-of-type {
    padding-left: 0.5em;
}

/* Fin du footer */
/* Fin Slider */